.App {
  text-align: center;
}
 body{
   background-color: aquamarine;
 }

.Note{
  background: #fff;
  border-radius: 2px;
  /* display: block; */
  float: left;
  height: auto;
  margin: 1rem;
  /* position: relative; */
  width: 150px;
  border-radius: 5px;

  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.pi-button {
	letter-spacing: 1px;
	font-size: 12px;
	display: inline-block;
	position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #b74242 ;
	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	font-family: sans-serif;
	cursor:pointer;
	border: none;
	padding: 12px 20px 12px 20px;
	margin: 5px;
	/* background-color: transparent; */
	text-align: center;
	color: #fff;
}

.pi-button:focus{
	outline: none;
}

.pi-button:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.35);

	color: #222;
	text-decoration: none;
	background-color: rgba(255, 0, 0, 0.6);
}

.pi-button:active {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}


.pi-button:focus::before {
	display: block;
	height: 150px;
	width: 150px;
	top: -58px;
	left: -30px;
	opacity: 0;
	content: "";
	background: #AAA;
	border-radius: 1000px;
	position: absolute;
	animation-name: fade;
	animation-timing-function: ease-out;
    animation-duration: 1s;
	z-index: -2;
}

@keyframes fade {
	0% {opacity: 1; transform: scale(0);}
	50% {opacity: 1; transform: scale(1);}
    100% {opacity: 0;}
}
